/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2021, 12:21:16 PM
    Author     : Yulizar
*/
body {
    /*margin: 30px;*/
}
.my-container {
    /*border: 1px solid green;*/
}
.my-row {
    /*border: 3px solid red;*/
}
.my-col {
    border: 3px dotted blue;
}
.my-shadow {
    box-shadow: 10px 10px;
}

.my-validinput {
    
}

.my-invalidinput {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

select.form-control {
     text-indent: -2px;
}

.span-onclick {
    cursor: pointer;
}
